<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        {{!-- show all the post and make it a link  --}}
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        {{!-- iclude the user, by getting the username and time created at  --}}
        Posted by {{user.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>